<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="landing">Welcome to my website!<br></p>
    <p id="contact"> <a href="mailto:info@govindmohan.com"><%= email %></a><br>
      Github: <a href="https://github.com/govi218"><%= github %></a><br>
      Contact: <%= contact %></p>
  </body>
</html>
