<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>
        <a class="h1" href="/"><%= title %></a>
    </h1>
    <p class="landing">Welcome to my website!<br></p>
    <p class="contact"> <a href="mailto:info@govindmohan.com"><%= email %></a><br>
      Github: <a href="https://github.com/govi218"><%= github %></a><br>
      Contact: <%= contact %></p>
    <hr>
    <p class="links"><a href="/about">About</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/projects">Projects</a></li>
    </p>
    <hr> 
    <br>
    <br>
    <p class="first">Soon to come!</p>
  </body>
</html>
